// COLORS
$color-body: #fdf6ec;
$color-primary-light: #9999ff; //rgba(171, 253, 232)
$color-primary: #3333ff; //rgba(6, 214, 160)
$color-primary-dark: #000022; //rgba(3,115,86)

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
